.collaborators {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.collaborator {
  display: inline-block;
  margin: 1rem;
}

.collaborator-img {
  width: 130px;
}

.flagship-telefónica-collaborator {
  width: 100px;
}