$techsessions-avatar-size: 200px;

.members {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 200px);
  margin-bottom: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  width: 202px;
  border: 1px solid $gray-light;
  border-radius: 3px;
  .data-container {
    transition: all .2s ease-in;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
  }
  .data {
    align-self: center;
  }
  > .avatar {
    width: $techsessions-avatar-size;
    height: $techsessions-avatar-size;
    max-width: $techsessions-avatar-size;
    min-height: $techsessions-avatar-size;
  }
  
}

.year {
  color: $black;
}

.lazy-avatar-spinner {
  position: absolute;
  width: $techsessions-avatar-size;
  height: $techsessions-avatar-size;
  background-color: $gray-light;
  border-radius: 500%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}