{{ define "main" }}

<section class="content">
  <h1 class="lead">{{ i18n "TermsAndConditions" }}</h1>
  {{ if $.Site.Params.ShowNextEdition }}
    <p class="message">{{ i18n "NextEdition" $.Site.Params.RegistrationLink | safeHTML }}</p>
  {{ end }}
  <p>{{i18n "TermsAndConditionsIntro" | safeHTML }}</p>
  <ul class="square">
    {{ range (slice "ProgramModelSection1" "ProgramModelSection2") }}
      <li>{{ i18n . | safeHTML }}</li>
    {{ end }}
  </ul>
  <p>{{ i18n "ProgramCalendar" | safeHTML }}</p>
  <ul class="square">
    {{ range (slice "Registration" "Start" "FirstTrainingTalks" "FirstMenteesTalks" "FirstTrainingWebinars" "SecondTrainingTalks" "SecondMenteesTalks" "SecondTrainingWebinars" "ThirdTrainingTalks" "ThirdMenteesTalks") }}
      <li>{{ i18n . | safeHTML }}</li>
    {{ end }}
  </ul>
  <p>{{ i18n "Requirements" }}</p>
  <ul class="square">
    {{ range (slice "AttendToTrainingTalks" "Seriousness" "AttendToSessions" "PerformTheEntireProgram" "ShareAndLearn") }}
      <li>{{ i18n . | safeHTML }}</li>
    {{ end }}
  </ul>
  <p>{{ i18n "ProfileNeeded" }}</p>
  <ul class="square">
    {{ range (slice "MentorProfile" "MenteeProfile") }}
    <li>{{ i18n . | safeHTML }}</li>
    {{ end }}
  </ul>
  <p>{{ i18n "OrganizationRights" }}</p>
  <p>{{ i18n "FreeProgram" }}</p>
  <p>{{ i18n "TermsAndConditionsSuffix" }}</p>
</section>

{{ end }}