<section class="content" id="collaborators">
  <h1 class="lead">{{i18n "Collaborators"}}</h1>
  <p>{{i18n "CollaboratorsMention" }}</p>
  <ul class="collaborators">
    {{ range $.Site.Data.collaborators }}
      {{ $normalizedName := .name | replaceRE "-" "" | replaceRE "\\s" "-" | lower | safeHTMLAttr }}
      <li>
        <a href="{{.href}}" title="{{.name}}" target="_blank" rel="noopener noreferrer" class="collaborator">
          <img src="/img/collaborators/{{.img}}" aria-hidden="true" alt="{{.name}}" class="collaborator-img {{$normalizedName}}-collaborator">
        </a>
      </li>
    {{ end }}
  </ul>
</section>