<footer class="hide-for-print">
  <div class="footer-row">
    <div class="content">
      {{ range $.Site.Data.footer}}
        <div class="footer-column">
          <h2 class="footer-column-title">{{i18n .name}}</h2>
          <ul>
            {{ range .items }}
              <li><a class="footer-link" href="{{ cond (eq .absolute true) .href (.href | safeURL | relLangURL) }}">
                {{ cond (eq .i18n false) .name (i18n .name) }}
              </a></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="footer-row theme-2">
    <div class="content aligned">
      <div class="footer-column logo-container">
        <a href="{{"/" | relLangURL}}" class="logo-footer"></a>
      </div>
      <div class="footer-column extrema-container">
        <a class="footer-link">Crafted by</a> &middot;
        <a href="http://www.extrema-sistemas.com" class="extrema"></a>
      </div>
    </div>
  </div>
</footer>
