<div itemscope itemtype="http://schema.org/Project">
  <div class="hero">
    <meta itemprop="url" content="https://techshessions.com">
    <meta itemprop="image" content="https://techshessions.com/img/background.jpg">
    <meta itemprop="image" content="{{ "/img/logo-compact.svg" | absURL }}">
    <meta itemprop="name" content="Tech SHEssions">
    <meta itemprop="email" content="info@techshessions.com">
    <meta itemprop="slogan" content="{{i18n "DiversityGoal"}}">
    <div class="hero-text">
      <h1 class="hero-title content">
        <img src="/img/logo-compact-white.svg">
      </h1>
      <span class="hero-body content">{{i18n "DiversityGoal"}}</span>
      <div class="content numbers">
        {{ $years := slice }}
        {{ range $.Site.Data.members.mentees }}
          {{ if not (in $years .year) }}
            {{ $years = $years | append .year}}
          {{ end }}
        {{ end }}
        {{ $years := dict "name" "Editions" "value" (len $years) }}
        {{ $mentors := dict "name" "Mentors" "value" (len $.Site.Data.members.mentors) }}
        {{ $mentees := dict "name" "Mentees" "value" (len $.Site.Data.members.mentees) }}
        {{ range (slice $years $mentors $mentees) }}
          <div class="number-and-text">
            <div class="number">{{.value}}</div>
            <div class="text">{{i18n .name}}</div>
          </div>
        {{ end }}
      </div>
    </div>
    <img class="svg-hr" src="/img/svg-hr.svg"/>
  </div>
  <div class="home-highlight">
    <section class="content">
      <h1>{{i18n "Objectives"}}</h1>
      <div class="two-columns">
        <div itemprop="description">
          <p class="highlight">
            {{ i18n "ObjectivesSummary" }}
          </p>
          <p>{{ i18n "ProgramModel" }}</p>
          <p>{{ i18n "LongTermObjectives" }}</p>
        </div>
      </div>
      {{ if $.Site.Params.ShowNextEdition }}
        {{ $url := "/terms-and-conditions" | relLangURL | string }}
        <p class="message">{{ i18n "NextEdition" $url | safeHTML }}</p>
      {{ end }}
      <div class="youtube-player-container text-center">
        <iframe class="youtube-player" width="560" height="315" src="https://www.youtube-nocookie.com/embed/fqv-o_UT1U8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
  </div>

  {{ partial "conditions.html" . }}

  {{ partial "be-a-mentee.html" . }}

  {{ partial "be-a-mentor.html" . }}

  {{ partial "collaborators.html" . }}

  <hr>

  {{ partial "newsletter.html" . }}

</div>