<h1 class="lead">{{ i18n .title }}</h1>
<div class="members">
  {{ range $member := .members }}
    <div class="member">
      {{ if isset $member "avatar" }}
        <div class="lazy-avatar-spinner"></div>
      {{ end }}
      <img src="/img/avatar.svg" class="avatar lazy-avatar" data-avatar="/img/members/{{$member.avatar}}" alt="{{i18n "AvatarAlt" $member.name}}">
      <div class="data">
        <span>
          <span>{{ $member.name }}</span>
          {{ if isset $member "twitter" }}
            <br/>
            <small><a href="https://twitter.com/{{$member.twitter}}" target="_blank" rel="noopener noreferrer">@{{ $member.twitter }}</a></small>
          {{ end }}
          <br/>
          {{ if isset $member "year" }}
          <small class="year">{{ $member.year }}</small>
          {{ end }}
        </span>
      </div>
    </div>
  {{ end }}
</div>