.message {
  padding: .5rem 1rem;
  background-color: rgba($yellow, .3);
  border-radius: 3px;
  border: 1px solid $yellow;
  > a {
    color: lighten($blue-dark, 10%);
    &:hover, &:focus {
      background-color: #bbeffd4d;
      color: $blue-dark;
    }
  }
}